<!-- 
Este archivo muestra un formulario para registrar nuevos usuarios, 
donde se introducen su nombre, edad y correo. 
Los datos se envían mediante POST.
-->

{% extends "plantillas.html" %}

{% block plantillas %}

    <form action="posteo/" method="POST">
        {% csrf_token %}
        <input name="nombre" placeholder="Introduce tu nombre" type="text">
        <input name="edad" placeholder="Introduce tu edad" type="text">
        <input name="correo" placeholder="Introduce tu correo" type="text">
        <button>Subir</button>
    </form>
{% endblock %}
